<fieldset>
    <legend>Current RegExp</legend>
    <p>/<%= settings['issue_regexp'] %>/<%= settings['issue_regexp_options'] %></p>
</fieldset>
<p>
    <label>issue search regexp</label>
    <input type="text" id="settings_issue_regexp" value="<%= settings['issue_regexp'] %>" name="settings[issue_regexp]" >
</p>
<p>
    <label>issue search regexp options</label>
    <input type="text" id="settings_issue_regexp_options" value="<%= settings['issue_regexp_options'] %>" name="settings[issue_regexp_options]" >
</p>